<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Home</title>
    <link rel="stylesheet" href="..\static\css\home.css">
    <link rel="stylesheet" href="..\static\css\margins.css">
</head>
<body>
        {% include "customerNav.html" %}
        {% include "links.html" %}

        <div class="title m-30">
            <h1  class="heading-1">Login Success!!!!</h1>
        </div>

        <div class="title m-30">
            <h2 class="heading-2">Hello, Welcome {{role}}!!!!</h2>
        </div>
</body>
</html>